:root { 
--gray_50_01:#f9fbff; 
--gray_50_02:#f5f9ff; 
--gray_50_03:#f4f8ff; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--blue_A200:#4d90ff; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f8f9fa; 
--blue_A700_02:#0065ff; 
--gray_300_99:#e4e4e499; 
--black_900_01:#090b0d; 
--black_900:#000000; 
--yellow_900:#f7931a; 
--blue_gray_700:#424c5d; 
--blue_gray_900_01:#24363c; 
--blue_A700_7e:#0061ff7e; 
--blue_gray_900:#262b35; 
--gray_700_11:#55555511; 
--gray_900_02:#09101d; 
--gray_400:#b3b3b3; 
--blue_900:#003995; 
--blue_gray_200:#bac1ce; 
--blue_gray_100:#d6dae2; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--blue_gray_300:#9ea8ba; 
--red_A200:#fe555d; 
--blue_gray_600:#5f6c86; 
--orange_A700:#ff6700; 
--gray_900:#151522; 
--gray_900_01:#11142d; 
--blue_50:#e0ebff; 
--gray_700_26:#55555526; 
--gray_800_2b:#4545452b; 
--blue_gray_400_01:#808191; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535353; 
}